@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  background-color: #eee2dc;
  color: #123c69;
}

form {
  background-color: #edc7b7;
  text-align: center;
  min-height: 100svh;
  font-size: 1.5rem;
  padding: 0 1em 0 1em;
}
form .headline {
  font-family: "Lobster Two", cursive;
  text-align: center;
}
form .close-button-mobile {
  display: none;
  border: none;
  align-self: flex-start;
  margin-top: 1em;
  padding: 0.4em 1em;
  border-radius: 10px;
  background-color: #123c69;
  color: white;
  cursor: pointer;
}
form .close-button-mobile:hover {
  background-color: #686868;
}
form label {
  display: flex;
  justify-content: center;
}
form input[type=text] {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid #123c69;
  border-radius: 5px;
  width: 13em;
  transition: all 0.4s;
}
form input[type=text]:focus {
  width: 85%;
}
form input[type=checkbox] {
  accent-color: #123c69;
}
form .book-title {
  padding: 1em 0;
}
form .book-author {
  padding: 1em 0;
}
form .book-pages {
  padding: 1em 0;
  padding-bottom: 1em;
}
form .checkbox-read {
  padding: 0 1em 1em 1em;
}
form .add-button {
  background-color: #123c69;
  color: white;
  border: none;
  padding: 1em 3em;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 700;
  transition: transform 0.1s ease;
}
form .add-button:active {
  transform: scale(0.9);
}

.main {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 3em;
}
.main .main-header {
  display: flex;
  gap: 2em;
  font-size: 1.5rem;
}
.main .main-table {
  width: 80%;
}
.main table {
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
  border-collapse: collapse;
}
.main thead {
  background-color: #123c69;
  color: white;
}
.main thead th:nth-child(1) {
  width: 35%;
}
.main thead th:nth-child(2) {
  width: 20%;
}
.main thead th:nth-child(3) {
  width: 15%;
}
.main thead th:nth-child(4) {
  width: 15%;
}
.main thead th:nth-child(5) {
  width: 15%;
}
.main td {
  padding: 0.5em;
  border-bottom: 2px solid #123c69;
}
.main td .readstatus-button {
  background-color: green;
  color: white;
  border: none;
  padding: 0.5em 3em;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 700;
}
.main td .readstatus-button-false {
  background-color: red;
  color: white;
  border: none;
  padding: 0.5em 3em;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 700;
}
.main td .remove-button {
  background-color: #123c69;
  color: white;
  border: none;
  padding: 0.5em 3em;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 700;
}
.main td .readstatus-button,
.main td .readstatus-button-false,
.main td .remove-button {
  transition: transform 0.1s ease;
}
.main td .readstatus-button:active,
.main td .readstatus-button-false:active,
.main td .remove-button:active {
  transform: scale(0.9);
}
.main .display-form-mobile {
  display: none;
}

@media (max-width: 650px) {
  form {
    display: none;
    position: fixed;
    top: 50%;
    left: 33%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    border-radius: 10px;
  }
  .showform {
    display: block;
    animation: fade-in 1s;
  }
  .hideform {
    animation: fade-out 1s;
  }
  @keyframes fade-in {
    from {
      opacity: 0;
      visibility: hidden;
    }
    to {
      opacity: 1;
      visibility: visible;
    }
  }
  @keyframes fade-out {
    from {
      opacity: 1;
      visibility: visible;
    }
    to {
      opacity: 0;
      visibility: hidden;
    }
  }
  .headline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.4em;
  }
  .headline {
    margin-top: 1em;
    margin-left: 1em;
  }
  label {
    padding: 0 1em;
  }
  form .close-button-mobile {
    display: block;
  }
  th {
    display: none;
  }
  tbody {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    font-size: 0.8rem;
  }
  .main td {
    display: grid;
    grid-template-columns: 7ch auto;
    border-bottom: none;
    background-color: #686868;
    color: white;
    font-size: 1rem;
  }
  td::before {
    font-weight: 700;
    text-align: left;
    color: #123c69;
  }
  td:nth-last-of-type(1)::before {
    content: "Remove";
  }
  td:nth-last-of-type(2)::before {
    content: "Status";
  }
  td:nth-last-of-type(3)::before {
    content: "Pages";
  }
  td:nth-last-of-type(4)::before {
    content: "Author";
  }
  td:nth-last-of-type(5)::before {
    content: "Title";
  }
  .remove-button,
  .readstatus-button,
  .readstatus-button-false {
    max-width: 50%;
    margin-left: 4.5em;
  }
  .main .main-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.2rem;
  }
  .main {
    align-items: stretch;
    text-align: center;
  }
  .main .main-table {
    margin: 0 auto;
  }
  .main .display-form-mobile {
    display: block;
  }
  .add-button-mobile {
    border: none;
    cursor: pointer;
    background-color: #123c69;
    color: white;
    padding: 0.8em 5em;
    border-radius: 8px;
  }
}

/*# sourceMappingURL=style.css.map */
