@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap");

$sidebar-color: #edc7b7;
$secondary-color: #123c69;
$page-background: #eee2dc;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  background-color: $page-background;
  color: $secondary-color;
}

form {
  background-color: $sidebar-color;
  text-align: center;
  min-height: 100svh;
  font-size: 1.5rem;
  padding: 0 1em 0 1em;

  .headline {
    font-family: "Lobster Two", cursive;
    text-align: center;
  }
  label {
    display: flex;
    justify-content: center;
  }
  input[type="text"] {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid $secondary-color;
    border-radius: 5px;
    width: 13em;
    transition: all 0.4s;
    &:focus {
      width: 85%;
    }
  }
  input[type="checkbox"] {
    accent-color: $secondary-color;
  }
  .book-title {
    padding: 1em 0;
  }
  .book-author {
    padding: 1em 0;
  }
  .book-pages {
    padding: 1em 0;
    padding-bottom: 1em;
  }
  .checkbox-read {
    padding: 0 1em 1em 1em;
  }
  .add-button {
    background-color: $secondary-color;
    color: white;
    border: none;
    padding: 1em 3em;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 700;
  }
}
.main {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 3em;
  .main-header {
    display: flex;
    gap: 2em;
    font-size: 1.5rem;
  }
  .main-table {
    width: 80%;
  }
  table {
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    border-collapse: collapse;
  }
  thead {
    background-color: $secondary-color;
    color: white;
  }
  thead th:nth-child(1) {
    width: 35%;
  }

  thead th:nth-child(2) {
    width: 20%;
  }

  thead th:nth-child(3) {
    width: 15%;
  }

  thead th:nth-child(4) {
    width: 15%;
  }
  thead th:nth-child(5) {
    width: 15%;
  }

  td {
    padding: 0.5em;
    border-bottom: 2px solid $secondary-color;
  }
}
